<script>
  window.url_prefix = "{{ host_prefix }}";
  window.annotation_set = {{ annotation_set | tojson | safe }};
  window.mode = "annotate";
  window.annotator_id = "{{ annotator_id }}";
  window.annotator_preferences = {{ annotator_preferences | tojson | safe }};
  window.metadata = {{ metadata | tojson | safe }};
  window.redo_context = {{ redo_context | default({}) | tojson | safe }};
</script>

<script src="{{ host_prefix }}/static/js/utils.js"></script>
<script src="{{ host_prefix }}/static/js/span-annotator.js"></script>
<script src="{{ host_prefix }}/static/js/annotate.js"></script>
