<!DOCTYPE html>
<html>

<head>
  <title>factgenie</title>
  <meta name="viewport" content="width=1024">
  <link rel="stylesheet" media="screen" href="{{ host_prefix }}/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ host_prefix }}/static/css/custom.css">
  <link rel="shortcut icon" href="{{ host_prefix }}/static/img/favicon.ico">
  <link href="{{ host_prefix }}/static/css/font-awesome.css" rel="stylesheet">
  <script src="{{ host_prefix }}/static/js/lib/jquery.min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/popper.min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{ host_prefix }}/static/css/bootstrap-table.min.css">
  <link rel="stylesheet" href="{{ host_prefix }}/static/css/bootstrap-icons.css">

  <script src="{{ host_prefix }}/static/js/lib/tableExport.min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/jspdf.umd.min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/bootstrap-table.min.js"></script>
  <script src="{{ host_prefix }}/static/js/lib/bootstrap-table-export.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
</head>


<body>
  {% include 'pages/navbar.html' %}

  <div class="container w-75 mt-5">

    <a href="{{ host_prefix }}/analyze" class="btn btn-outline-secondary">← Statistics</a>
    <div class="mt-5">
      <!-- <a href="{{ host_prefix }}/analyze" class="btn btn-outline-secondary mb-5">← List of
        campaigns</a> -->
      <h3><img src="{{ host_prefix }}/static/img/analysis.png" class="inline-icon"> <a
          href="{{ host_prefix }}/{{ campaign.metadata.mode }}/detail/{{ campaign.metadata.id }}"><b>Statistics:
            {{
            campaign.metadata.id }}</b></a></h3>
      {% if is_authenticated %}
        <div class="mt-3">
          <a href="{{ host_prefix }}/export_campaign_outputs/{{ campaign.metadata.id }}" class="btn btn-outline-secondary"
            data-bs-toggle="tooltip" title="Download all annotations">
            <i class="fa fa-download"></i> Download annotations
          </a>
        </div>
      {% endif %}

      <div id="metadata-block" class="mt-3">
        <hr>
        <dl class="row">
          <dt class="col-sm-3"> Created </dt>
          <dd class="col-sm-9" id="metadata-created"> {{ campaign.metadata.created }} </dd>
          <dt class="col-sm-3"> Source </dt>
          <dd class="col-sm-9" id="metadata-source"> {{ campaign.metadata.mode }} </dd>
          <dt class="col-sm-3"> Span categories </dt>
          <dd class="col-sm-9" id="metadata-categories">
            {% for category in campaign.metadata.config.annotation_span_categories %}
            <span class="badge" style="background-color: {{ category.color }}; color: rgb(253, 253, 253); ">{{
              category.name
              }}</span>
            {% endfor %}
          </dd>
        </dl>
      </div>


      {% if not statistics.ann_counts %}
      <div class="alert alert-info mt-3" role="alert">
        <i class="fa fa-info"></i>
        <span>No annotations were yet collected in this campaign.</span>
      </div>
      {% endif %}

    </div>

    <ul class="nav nav-tabs nav-fill mt-5" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if active_stats_tab == 'spans' %}active{% endif %}" id="pills-spans-tab" data-bs-toggle="pill" href="#pills-stats-spans" role="tab"
          aria-controls="pills-stats-spans"><img src="{{ host_prefix }}/static/img/stats/stats-span.png" height="30px"
            class="heading-img-inline">Spans</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if active_stats_tab == 'summaries' %}active{% endif %}" id="pills-summaries-tab" data-bs-toggle="pill" href="#pills-stats-summaries" role="tab"
          aria-controls="pills-stats-summaries"><img src="{{ host_prefix }}/static/img/stats/stats-charts.png"
            height="30px" class="heading-img-inline">Summaries</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if active_stats_tab == 'sliders' %}active{% endif %}" id="pills-slider-stats-tab" data-bs-toggle="pill" href="#pills-stats-sliders" role="tab"
          aria-controls="pills-stats-sliders"><i class="fa fa-sliders heading-img-inline"></i> By sliders</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if active_stats_tab == 'annotators' %}active{% endif %}" id="pills-annotator-stats-tab" data-bs-toggle="pill" href="#pills-stats-annotators"
          role="tab" aria-controls="pills-stats-annotators"><i class="fa fa-user heading-img-inline"></i> By annotator</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if active_stats_tab == 'coverage' %}active{% endif %}" id="pills-coverage-stats-tab" data-bs-toggle="pill" href="#pills-stats-coverage"
          role="tab" aria-controls="pills-stats-coverage"><i class="fa fa-check-square-o heading-img-inline"></i>
          Question coverage</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane mb-5 fade {% if active_stats_tab == 'spans' %}show active{% endif %}" id="pills-stats-spans" role="tabpanel" aria-labelledby="pills-spans-tab">
        <div class="mt-4">
          <h5>Full results</h5>
          <table id="full-table" class="table table-bordered table-hover" data-show-export="true" data-sortable="true"
            data-toolbar="#toolbar">
            <thead>
              <tr>
                <th data-sortable="true" data-field="dataset">Dataset</th>
                <th data-sortable="true" data-field="split">Split</th>
                <th data-sortable="true" data-field="setup_id">Setup</th>
                <th data-sortable="true" data-field="example_count">Ex. annotated</th>
                <th data-sortable="true" data-field="annotation_type">Category</th>
                <th data-sortable="true" data-field="ann_count" data-align="right"
                  data-title-tooltip="The total number of label occurences within annotated examples.">Count</th>
                <th data-sortable="true" data-field="avg_count" data-align="right"
                  data-title-tooltip="The average number of label occurences within annotated examples (=Count / Ex. annotated).">
                  Avg. per ex.</th>
                <th data-sortable="true" data-field="prevalence" data-align="right"
                  data-title-tooltip="A ratio of outputs containing the label (0 to 1 range).">Prevalence</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <div class="mt-5">
          <h5>By span categories</h5>
          <table id="span-table" class="table table-bordered table-hover" data-show-export="true" data-sortable="true"
            data-toolbar="#toolbar">
            <thead>
              <tr>
                <th data-sortable="true" data-field="example_count">Ex. annotated</th>
                <th data-sortable="true" data-field="annotation_type">Category</th>
                <th data-sortable="true" data-field="ann_count" data-align="right"
                  data-title-tooltip="The total number of label occurences within annotated examples.">Count</th>
                <th data-sortable="true" data-field="avg_count" data-align="right"
                  data-title-tooltip="The average number of label occurences within annotated examples (=Count / Ex. annotated).">
                  Avg. per ex.</th>
                <th data-sortable="true" data-field="prevalence" data-align="right"
                  data-title-tooltip="A ratio of outputs containing the label (0 to 1 range).">Prevalence</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <div class="mt-5">
          <h5>By setups</h5>
          <table id="setup-table" class="table table-bordered table-hover" data-show-export="true" data-sortable="true"
            data-toolbar="#toolbar">
            <thead>
              <tr>
                <th data-sortable="true" data-field="setup_id">Setup</th>
                <th data-sortable="true" data-field="example_count">Ex. annotated</th>
                <th data-sortable="true" data-field="annotation_type">Category</th>
                <th data-sortable="true" data-field="ann_count" data-align="right"
                  data-title-tooltip="The total number of label occurences within annotated examples.">Count</th>
                <th data-sortable="true" data-field="avg_count" data-align="right"
                  data-title-tooltip="The average number of label occurences within annotated examples (=Count / Ex. annotated).">
                  Avg. per ex.</th>
                <th data-sortable="true" data-field="prevalence" data-align="right"
                  data-title-tooltip="A ratio of outputs containing the label (0 to 1 range).">Prevalence</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <div class="mt-5">
          <h5>By datasets</h5>
          <table id="dataset-table" class="table table-bordered table-hover" data-show-export="true"
            data-sortable="true" data-toolbar="#toolbar">
            <thead>
              <tr>
                <th data-sortable="true" data-field="dataset">Dataset</th>
                <th data-sortable="true" data-field="split">Split</th>
                <th data-sortable="true" data-field="example_count">Ex. annotated</th>
                <th data-sortable="true" data-field="annotation_type">Category</th>
                <th data-sortable="true" data-field="ann_count" data-align="right"
                  data-title-tooltip="The total number of label occurences within annotated examples.">Count</th>
                <th data-sortable="true" data-field="avg_count" data-align="right"
                  data-title-tooltip="The average number of label occurences within annotated examples (=Count / Ex. annotated).">
                  Avg. per ex.</th>
                <th data-sortable="true" data-field="prevalence" data-align="right"
                  data-title-tooltip="A ratio of outputs containing the label (0 to 1 range).">Prevalence</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

        <details class="mt-5">
          <summary class="fw-bold">Extra fields</summary>
          <div class="mt-3">
            {% if statistics.extra_fields %}
            <table id="extra-fields-table" class="table table-bordered table-hover" data-show-export="true"
              data-toggle="table" data-sortable="true" data-toolbar="#toolbar">
              <thead>
                <tr>
                  <th data-sortable="true" data-field="label">Label</th>
                  <th data-sortable="true" data-field="value">Value</th>
                  <th data-sortable="true" data-field="count"
                    data-title-tooltip="The total number of label occurences within annotated examples.">Count</th>
                </tr>
              </thead>
              <tbody>
                {% for label, value_counts in statistics.extra_fields.items() %}
                {% for value, count in value_counts.items() %}
                <tr>
                  <td>{{ label }}</td>
                  <td>{{ value }}</td>
                  <td>{{ count }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="text-muted">No extra fields were collected for this campaign.</div>
            {% endif %}
          </div>
        </details>
      </div>

      <div class="tab-pane mb-5 fade {% if active_stats_tab == 'summaries' %}show active{% endif %}" id="pills-stats-summaries" role="tabpanel" aria-labelledby="pills-summaries-tab">
        {% if statistics.rag_mistake_summary %}
        {% set rag_summary = statistics.rag_mistake_summary %}
        <form class="card mt-4 mb-4" method="get" action="{{ host_prefix }}/analyze/detail/{{ campaign.metadata.id }}">
          <div class="card-body">
            <input type="hidden" name="tab" value="summaries">
            <div class="row g-3 align-items-end">
              <div class="col-md-6">
                <label for="summary_setup_id" class="form-label">Setup</label>
                <select id="summary_setup_id" name="summary_setup_id" class="form-select">
                  <option value="all" {% if rag_summary.selected_setup_id == 'all' %}selected{% endif %}>All setups</option>
                  {% for setup_id in rag_summary.setup_ids %}
                  <option value="{{ setup_id }}" {% if rag_summary.selected_setup_id == setup_id %}selected{% endif %}>{{ setup_id }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label for="summary_span_category" class="form-label">Span type</label>
                <select id="summary_span_category" name="summary_span_category" class="form-select">
                  <option value="all" {% if rag_summary.selected_span_category == 'all' %}selected{% endif %}>All span types</option>
                  {% for span_category in rag_summary.span_categories %}
                  <option value="{{ span_category }}" {% if rag_summary.selected_span_category == span_category %}selected{% endif %}>{{ span_category }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div class="text-muted small">
                Showing summaries for setup <b>{{ rag_summary.selected_setup_label }}</b> and span type <b>{{ rag_summary.selected_span_category_label }}</b>.
              </div>
              <button type="submit" class="btn btn-outline-secondary">Update summary</button>
            </div>
          </div>
        </form>

        {% if statistics.rag_mistake_stats %}
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Mistake</th>
              <th>Short name</th>
              <th>Examples</th>
              <th>Matched spans</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for mistake in statistics.rag_mistake_stats %}
            <tr>
              <td><b>{{ mistake.label }}</b></td>
              <td><span class="badge bg-secondary">{{ mistake.short_label }}</span></td>
              <td>{{ mistake.example_count }}</td>
              <td>{{ mistake.span_count }}</td>
              <td>{{ mistake.lead }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% for mistake in statistics.rag_mistake_stats %}
        <details class="card mb-3">
          <summary class="card-header d-flex justify-content-between align-items-center">
            <span class="fw-semibold">{{ mistake.label }}</span>
            <span class="badge bg-primary">{{ mistake.example_count }} examples</span>
          </summary>
          <div class="card-body">
            <p class="text-muted mb-3">{{ mistake.description }}</p>
            {% if mistake.examples %}
            {% for example in mistake.examples %}
            <details class="border rounded p-3 mb-2 bg-light">
              <summary class="d-flex justify-content-between align-items-center">
                <span>
                  {{ example.dataset }} / {{ example.split }} / {{ example.setup_id }} #{{ example.example_idx }}
                  <span class="text-muted ms-2">{{ example.annotator_id }}</span>
                </span>
                <span class="badge bg-secondary">{{ example.spans | length }} spans</span>
              </summary>
              <div class="mt-3">
                <a href="{{ example.browse_url }}" class="btn btn-sm btn-outline-secondary mb-3" target="_blank">
                  Open in Browse
                </a>
                {% for span in example.spans %}
                <div class="border-start border-4 ps-3 mb-3">
                  <div><b>Span text:</b> {{ span.text }}</div>
                  <div><b>Reason:</b> {{ span.reason }}</div>
                </div>
                {% endfor %}
              </div>
            </details>
            {% endfor %}
            {% else %}
            <div class="text-muted">No examples matched this bucket.</div>
            {% endif %}
          </div>
        </details>
        {% endfor %}
        {% else %}
        <div class="alert alert-secondary mt-3" role="alert">
          <i class="fa fa-info-circle"></i>
          No examples matched the selected setup and span type.
        </div>
        {% endif %}
        {% else %}
        <div class="alert alert-secondary mt-4" role="alert">
          <i class="fa fa-info-circle"></i>
          No RAG mistake summary is available for this campaign yet.
        </div>
        {% endif %}
      </div>

      <div class="tab-pane mb-5 fade {% if active_stats_tab == 'sliders' %}show active{% endif %}" id="pills-stats-sliders" role="tabpanel" aria-labelledby="pills-slider-stats-tab">
        <div id="slider-stats-empty" class="alert alert-info" role="alert">
          <i class="fa fa-info"></i>
          <span>No slider data was collected for this campaign.</span>
        </div>
        <h5 class="mt-4">All examples</h5>
        <table id="slider-overall-table" class="table table-bordered table-hover" data-show-export="true"
          data-sortable="true" data-toolbar="#toolbar">
          <thead>
            <tr>
              <th data-sortable="true" data-field="label">Slider</th>
              <th data-sortable="true" data-field="count" data-align="right">Count</th>
              <th data-sortable="true" data-field="min_value" data-align="right">Min</th>
              <th data-sortable="true" data-field="max_value" data-align="right">Max</th>
              <th data-sortable="true" data-field="avg_value" data-align="right">Avg</th>
              <th data-sortable="true" data-field="std_value" data-align="right">Std</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <h5 class="mt-4">By setup</h5>
        <table id="slider-setup-summary-table" class="table table-bordered table-hover" data-show-export="true"
          data-sortable="true" data-toolbar="#toolbar">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <h5 class="mt-4">By question and setup</h5>
        <div id="slider-setup-tables"></div>
      </div>
      <div class="tab-pane mb-5 fade {% if active_stats_tab == 'annotators' %}show active{% endif %}" id="pills-stats-annotators" role="tabpanel"
        aria-labelledby="pills-annotator-stats-tab">
        <div id="annotator-stats-empty" class="alert alert-info" role="alert">
          <i class="fa fa-info"></i>
          <span>No annotator statistics are available for this campaign.</span>
        </div>
        <table id="annotator-table" class="table table-bordered table-hover" data-show-export="true"
          data-sortable="true" data-toolbar="#toolbar">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="tab-pane mb-5 fade {% if active_stats_tab == 'coverage' %}show active{% endif %}" id="pills-stats-coverage" role="tabpanel" aria-labelledby="pills-coverage-stats-tab">
        <div id="coverage-stats-empty" class="alert alert-info" role="alert">
          <i class="fa fa-info"></i>
          <span>No output coverage data is available for this campaign.</span>
        </div>
        <div id="coverage-stats-content" style="display:none;">
          <div class="d-flex justify-content-between align-items-center gap-3 flex-wrap mt-2">
            <h5 class="mb-0">Annotation Matrix (outputs x annotators)</h5>
            <div class="d-flex align-items-center gap-3">
              <div class="form-check mb-0">
                <input class="form-check-input" type="checkbox" value="" id="coverage-transpose-checkbox">
                <label class="form-check-label small" for="coverage-transpose-checkbox">
                  Transpose matrix
                </label>
              </div>
              <div class="columns columns-right btn-group float-right">
                <div class="btn-group">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                    id="coverage-export-btn" data-bs-toggle="dropdown" aria-expanded="false" title="Export data">
                    <i class="fa fa-download"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="coverage-export-btn">
                    <li><button class="dropdown-item" type="button" id="coverage-export-csv-btn">CSV</button></li>
                    <li><button class="dropdown-item" type="button" id="coverage-export-xls-btn">Excel</button></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="text-muted small mt-2">
            Cell states: <span class="badge bg-success">done</span>
            <span class="badge bg-warning text-dark ms-2">skipped</span>
            <span class="badge bg-secondary ms-2">todo</span>
            <span class="ms-2">Click a cell to open the output in browse mode.</span>
          </div>
          <div class="coverage-setup-filter d-flex align-items-center gap-2 flex-wrap mt-2" id="coverage-setup-filter"></div>
          <div id="coverage-matrix-container" class="mt-3"></div>
        </div>
      </div>
    </div>
  </div>

</body>
<script>
  window.url_prefix = "{{ host_prefix }}";
  window.mode = "analyze";
  window.metadata = {{ campaign.metadata | tojson | safe }};
  window.statistics = {{ statistics | tojson | safe }};
</script>
<script src="{{ host_prefix }}/static/js/utils.js"></script>
<script src="{{ host_prefix }}/static/js/analyze.js"></script>
